.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  transition-duration: 1s;
  padding: 5px;
}
body {
  background-color: #333333;
}

.card {
  box-shadow: 2px 2px 10px 10px #262626;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
}

select {
  margin: auto;
}
